 /*------------------------FONTES IMPORTADAS-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Aref+Ruqaa+Ink:wght@400;700&family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');

 /*-----------------------VARIÁVEIS----------------------------*/
:root{
    --Font:'Aref Ruqaa Ink', serif;
    --Poppins: 'Poppins', sans-serif;
    --vermelho-pimenta: rgb(154, 44, 44);
    --verde-neon: #00FF08;
    --rosa:#ff0054;
    --dourado: #342900;
    --azul: #174580;

}

 /*-----------------------GERAL----------------------------*/
*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;
}

html{
   scroll-behavior: smooth;
   user-select: none;
}

body{
    background-color: black; height: 100vh;
}
body::-webkit-scrollbar{
   display: none;
}

h2.titulo{
    color:white ; text-align: center; font:600 38px var(--Poppins);
}
h2.titulo span{
    color: var(--verde-neon);
}
button:hover{
    box-shadow: 0 0 8px var(--verde-neon); transform: scale(1.05); cursor: pointer;
}


 /*-----------------------iNÍCIO------------------------*/
 .flex{
    display: flex; align-items: center; justify-content: space-between; padding: 0 3%;
 }

 header{
    width: 100%; padding: 20px 0; position: fixed; z-index: 1; top: 0; left: 0; transition: all .5s;
 }
 header.rolagem{
    background-color: var(--vermelho-pimenta); padding: 15px 0; transition: all .5s; 
}

 header span, .flex .navegador ol li{
    list-style:none; display: inline-block; color: white; font-family: var(--Poppins); font-size: 18px; letter-spacing: 2px; cursor: pointer;
 }
 .flex .navegador ol li{
    margin: 0 20px; transform: scale(1.05); transition: .5s;
 }
 .flex .navegador ol a{
   margin: 0px;
 }
 .flex .navegador ol li:hover{
    color:var(--dourado); box-shadow: 0 2px 0 var(--dourado);
 }
 header ul{
    list-style: none;
 }
 header ul li{
    display: inline-block; font-size: 25px;
 }
 header a{
    color: white; text-decoration: none; margin: 10px;
 }
.banner img{
    width: 100%; height: 100vh; position: relative; opacity: .95; transition: 1s;
 }

 section h1{
    font: 100px var(--Poppins); color: white; text-shadow: 1px 1px 1px black;transition: .3s; margin-bottom: 30px;
 }
 section.banner .overlay{
   flex-direction: column; border-radius: 0; align-items: first baseline; height: 100%;
 }
 section.banner .overlay .quadro{
   padding: 40px 0 0 40px;
 }
 section.banner .overlay span{
   color: #00FF08; 
 }
 section.banner .overlay p, section.banner .overlay p .xt{
    font: 400 18px var(--Poppins); color: white; margin-bottom: 30px; width: 80%; text-align: justify; text-shadow: 1px 1px 1px black; line-height: 1.6em;
 }
 section.banner .overlay .btn{
    padding: 10px 15px; font: 15px var(--Poppins); border-radius: 20px; color: white; border: none; margin-top: 20px; background-color: var(--verde-neon); transition: .3s;
 }
 .text .btn:hover{
    transform: scale(1.07); box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.133);
 }
 .github, .instagram, .linkedin{
    background-color: rgba(0, 0, 0, 0); border-radius:  0%; padding: 8px 25px;
}

 /*-------------------EFEITOS DE HOVER (PASSAR O MOUSE)-----------------------*/
 header:hover{
    background-color: var(--vermelho-pimenta); transition: .5s;
 }
 header span:hover{
    transform: scale(1.05); transition: .3s;
}
 .github:hover{
    color:black; background-color: white; transition: .3s; 
}
.instagram:hover{
    color: var(--rosa); background-color: white; transition: .3s; 
}
.linkedin:hover{
    color: var(--azul); background-color: white;transition: .3s; 
}
.banner img:hover{
    opacity: 1; transition: 1s;
}

 /*-------------------EFEITOS DE SCROLL-----------------------*/

 ::-webkit-scrollbar{
    background-color: #FFF; width: 15px;
 }
 ::-webkit-scrollbar-thumb{
    background-color: var(--vermelho-pimenta); width: 15px;
 }

 /*-------------------MEDIA QUERY-----------------------*/

@media (max-width: 720px){
    header a{
        margin: 0 20px;
    }
    header span{
        display: none;
    }
    .github, .instagram, .linkedin, .codepen, .gmail{
        padding: 8px 20px;
    }
    .flex{
        justify-content: space-around;
    }
    .banner img, .banner{
      width: 100%; height: 96%; object-fit: cover; object-position: -350px 0px;
   }
  section.banner .xt{
   display: none;
   }
    section h1, .btn{
        top: 50%; left: 7%; font: 40px var(--Poppins) ;  
    }
    section.especialidades .titulo, section.sobre .txt-sobre h2, section.portifolio .titulo{
      font-size: 34px;
    }
    section.especialidades .flex, section.sobre .flex {
      flex-direction: column;
     } 
     .navegador{
        display: none;
     }
     .especialidades .especial-box{
      margin-top: 30px;
     }
     .sobre .txt-sobre p{
      text-indent: 1.2em;
    }
     section.banner{
      margin-right: 0;
     }
     section.banner .overlay p{
      font: 400 18px var(--Poppins); color: white; margin-bottom: 30px; width: 83vw; line-height: 1.6em;
   }
   section.portifolio .img-port{
      width: 80vw; height: 70vh;
   }
   section.portifolio .flex{
      flex-direction: column;
   }
   section.portifolio .flex .img-port{
      width: 90vw; height: 460px;
   }
   section.portifolio .flex .img-port1{
      width: 90vw; height: 520px;
   }
}
@media (max-width:1280px){
   header .flex{
      justify-content: space-around;
   }
   header .navegador, header span{
      display: none;
   }
}


 /*-------------------ESPECIALIDADES-----------------------*/
 section.especialidades{
    padding: 80px 4%;
 }
 section.especialidades .flex{
    gap: 60px;
 }
 .especialidades .especial-box{
    color: white; padding: 40px; margin-top: 45px; border-radius: 20px; transition: .5s;
 }
 .especialidades .especial-box:hover{
    transform: scale(1.05); box-shadow: 0 0 15px rgba(255, 255, 255, 0.486); transition: .5s; cursor: pointer;
 }
 .especialidades .especial-box i{
    font-size: 70px; color: var(--verde-neon);
 }
 .especialidades .especial-box h3{
    font: 600 28px var(--Poppins); margin: 15px 0;
 }
 .especialidades .especial-box p{
    font: 400 16px var(--Poppins); letter-spacing: .5px;
 }

  /*-------------------SOBRE MIM-----------------------*/
  section .img-sobre img{
    height: 420px; width: 320px; border-radius: 20px;
  }
  section.sobre{
    padding: 80px 4%;
  }
  section.sobre .flex{
    align-items: center; gap: 60px;
  }
  .sobre .txt-sobre{
    color: white; font-family: var(--Poppins);
  }
  .sobre .txt-sobre h2{
    font-size: 40px; line-height: 45px; margin-bottom: 30px;
  }
  .sobre .txt-sobre h2 span{
    color: var(--verde-neon);
  }
  .sobre .txt-sobre p{
    margin: 20px 0; text-align: justify;
  }
  .sobre .txt-sobre .btn-social button{
    width: 60px; height: 60px; border-radius: 50%; background-color: var(--verde-neon); font-size: 20px; border: none; cursor: pointer;
    margin: 0 5px; transition: .2s;
  }

 /*-------------------PORTIFÓLIO-----------------------*/
section.portifolio{
    padding: 80px 4% 80px 4%; box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.062);
}
section.portifolio .flex{
    margin-top: 60px; gap: 20px;
}
.img-port{
    width: 55.013vw; height: 60vh; background-size: cover; background-position: 100% 0%;  border-radius: 10px; transition: 2s; cursor: pointer; position: relative;
}
.img-port1{
   width: 26.042vw; height: 60vh; background-size: cover; background-position: 100% 0%;  border-radius: 10px; transition: 3.5s; cursor: pointer; position: relative;
}
.img-port:hover, .img-port1:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute; top: 0; left: 0; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; font:600 24px var(--Poppins); background-color: rgba(0, 0, 0, 0.738); color: white; opacity: 0; transition: .5s;  border-radius: 10px;
}
.overlay:hover{
    opacity: 1;
}

/*-------------------FOOTER-----------------------*/
footer{
   width: 100vw;
}
.footer{
    color: white; font: 600 14px var(--Poppins); padding: 20px; text-align: center;

}